<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "com.ovnyline.diputacion"
		version     = "1.0.6" >
		
		<!-- ios new version 1.0.1: delete reference other mobile plataforms -->
		<!-- ios new version 1.0.2: cambio de imagen -->
		<!-- all new version 1.0.3: download and new informations // version not upload in ios -->
		<!-- all new version 1.0.4: problem route canvas image // version not upload in ios -->
		<!-- all new version 1.0.5: actualizadas algunas fichas y enlaces exteriores // upload in ios -->
		<!-- all new version 1.0.6: actualización información y notificaciones push -->

    <name>Diputación de Ávila - Turismo</name>

    <description>
		Aplicación con toda la información de Ávila: puntos de interés, rutas, noticias, servicios...
    </description>

    <author href="http://www.ovnyline.com" email="info@ovnyline.com">
		Grupo Ovnyline Comunicación
    </author>

	<preference name="permissions" value="none"/>	
	<!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<!-- end to enable individual permissions use the following examples -->
	
    <!-- Personalización -->
    <preference name="phonegap-version"           value="cli-5.2.0" />      <!-- all: current version of PhoneGap -->
	
    <preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />          <!-- all: hides the status bar at the top of the screen -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="15" />             <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
	
	<!--
	
	android-minSdkVersion:
	
	14: Android 4.0
	15: Android 4.0.3
	16: Android 4.1
	17: Android 4.2
	18: Android 4.3
	19: Android 4.4	
	
	-->
	
	<preference name="deployment-target" value="7.0" />
	<preference name="android-build-tool" value="gradle" /> 

    <preference name="android-installLocation"    value="auto" />           
	<!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

     <!-- Pplugins -->
	<!--<gap:plugin name="org.apache.cordova.battery-status" version="0.2.11" />
	<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
	<gap:plugin name="org.apache.cordova.console" version="0.2.11" />
	<gap:plugin name="org.apache.cordova.contacts" version="0.2.13" />
	<gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
	<gap:plugin name="org.apache.cordova.device-orientation" version="0.3.9" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
	<gap:plugin name="org.apache.cordova.globalization" version="0.3.1" />
	<gap:plugin name="org.apache.cordova.media-capture" version="0.3.3" />
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
	<gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
	<gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.5.0" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.5" />
	<gap:plugin name="org.apache.cordova.media" version="0.2.13" /> --> 
	
	<!--
	<gap:plugin name="cordova-plugin-file" source="npm" version="3.0.0" />
	<gap:plugin name="cordova-plugin-file-transfer" source="npm" version="1.3.0" />
	<gap:plugin name="cordova-plugin-device" source="npm" version="1.0.1" />
	<gap:plugin name="cordova-plugin-geolocation" source="npm" version="1.0.1" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" version="1.0.1" />
	<gap:plugin name="cordova-plugin-barcodescanner" source="npm" version="0.7.0" />	
	-->
	
	<gap:plugin name="cordova-plugin-file" source="npm" version="4.2.0" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" version="1.5.1" />
	<gap:plugin name="cordova-plugin-media" source="npm" version="2.3.0" />
	<gap:plugin name="cordova-plugin-device" source="npm" version="1.1.2" />
	<gap:plugin name="cordova-plugin-geolocation" source="npm" version="2.2.0" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" version="1.4.0" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" spec="1.2.2" />

	<gap:plugin name="cordova-plugin-dialogs" source="npm" version="1.2.1" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" source="npm" version="0.8.4" />
	
	<gap:plugin name="cordova-plugin-pushplugin" source="npm" version="2.6.1" />
	<!--<plugin name="phonegap-plugin-push" source="npm" version="1.6.3">
		<param name="SENDER_ID" value="1095234974489" />
	</plugin>-->
	<gap:plugin name="cordova-plugin-tts" source="npm" version="0.2.3" />	
	
	<!--
	<gap:plugin name="org.apache.cordova.media" version="0.2.13" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />	
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.5.0" />
	-->
	
	<!--<gap:plugin name="cordova-plugin-admobpro" source="npm" />-->

	<!--text to speech-->
	<!--<gap:plugin name="org.tt.plugin.tts" version="1" />
	<gap:plugin name="com.lefortsoftware.ttsplugin" version="0.1.0" />		
	<feature name="TtsPlugin" >
		<param name="android-package" value="nz.co.beweb.ttsplugin"/> 
		<param name="ios-package" value="TtsPlugin" /> 
	</feature>-->		
	
	<!-- Ocultar barra ios, a partir de ios7-->
	<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" source="pgb" version="1.2.0" />

	<gap:config-file platform="ios" parent="UIStatusBarHidden">
		<true/>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
		<false/>
	</gap:config-file>

    <!-- Iconos para cada plataforma -->
    <icon src="res/icon/icon.png" />
    
    <!-- Android -->
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    
    <!-- IOS -->
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/icon/ios/icon-76-2x.png"         gap:platform="ios"        width="152" height="152" />
    <icon src="res/icon/ios/icon-120.png"           gap:platform="ios"        width="120" height="120" />
    
    <!-- Winphone -->
    <icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />
	
	<!-- Define app splash screen for IOS. -->    
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />	
	<gap:splash src="res/screen/ios/Default-568h@2x.png" 		   gap:platform="ios"     width="640" height="1136"/>

    <!-- Acceso a dominios externos -->    
	<allow-intent href="*" />
	<allow-navigation href="*" /> 
	<access origin="*"/> 

</widget>
